<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.snapsatpayload"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        
    	<receiver android:name="com.example.snapsatpayload.BootReceiver">
        	<intent-filter>
            	<action android:name="android.intent.action.BOOT_COMPLETED" />
        	</intent-filter>
    	</receiver>
              
        <activity android:name="com.example.snapsatpayload.MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
                  
    	<service android:name=".SnapSatPayLoadManagerService">
        	<intent-filter>
            	<action android:name="com.example.snapsatpayload.SnapSatPayLoadManagerService" />
        	</intent-filter>
    	</service>
    
    	<service android:name=".TxTelemetryService">
        	<intent-filter>
            	<action android:name="com.example.snapsatpayload.TxTelemetryService" />
        	</intent-filter>
    	</service>
    
    	<service android:name=".CameraService">
        	<intent-filter>
            	<action android:name="com.example.snapsatpayload.CameraService"/>
        	</intent-filter>
    	</service>
    
    	<service android:name=".GarminGLOService">
        	<intent-filter>
            	<action android:name="com.example.snapsatpayload.GarminGLOService"/>
        	</intent-filter>
    	</service>
    
    	<service android:name=".GPSUSBService">
        	<intent-filter>
            	<action android:name="com.example.snapsatpayload.GPSUSBService"/>
        	</intent-filter>
    	</service>
    	
    	<service android:name=".FTPService">
        	<intent-filter>
            	<action android:name="com.example.snapsatpayload.FTPService"/>
        	</intent-filter>
    	</service>
       
    </application>

</manifest>


